.header-container {
  display: grid;
  width: 1170px;
  height: 357px;
  padding-top: 50px;
  padding-left: 215px;
  padding-right: 215px;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.header-left {
  display: flex;
  flex-direction: column;
  height: 300px;
}

.header-right {
  display: flex;
  justify-content: center;
  padding-right: 90px;
}

.heading {
  font-family: "DM Sans";
  font-style: normal;
  width: 702px;
  height: 153px;
  font-weight: 700;
  font-size: 58px;
  line-height: 70px;
  /* or 121% */

  letter-spacing: -1px;

  /* Colors / Heading */

  color: #1e0e62;
}

.sub-heading {
  /* Text / Paragraph */

  font-family: "DM Sans";
  font-style: normal;
  width: 426px;
  height: 52px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */

  /* Colors / Text */

  color: rgba(21, 20, 57, 0.4);
}

.discount {
  font-family: "DM Sans";
  font-style: normal;
  width: 280px;
  padding: 16px;
  margin-top: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  /* identical to box height, or 130% */

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  background: #25dac5;
  color: #FFFFFF;
  border: #25dac5;
  border-radius: 100px;
}

.header-img {
  width: 370px;
  height: 300px;
  border-radius: 10px;
}
